@model PXLFunds.Data.Fund

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fund</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bank.BankId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FundId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
